{erl_opts, [no_debug_info]}.
{deps, [jsx]}.

{escript_incl_apps,
 [rdm_erlang, jsx]}.
{escript_main_app, rdm_erlang}.
{escript_name, rdm_erlang}.
{escript_emu_args, "%%! +sbtu +A1\n"}.
{escript_shebang, "#!/usr/bin/env escript\n"}.
{escript_comment, "%%\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
